/*------------------ General ------------------*/

.container {
  max-width: 1220px;
  margin: auto;
}

.head-banner {
  display: flex;
  align-items: flex-end;
  height: 600px;
  background: grey;
}

.head-banner h1 {
  padding: 35px 65px;
}

/*------------------ Header ------------------*/

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 0 20px;
}


/*------------------ Footer ------------------*/

footer {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  background: darkgray; 
}

footer p {
  margin: 0;
  padding-left: 30px;
}


/*------------------ About Page ------------------*/

.our-misssion {
  margin-top: 70px;
}

.our-misssion, .our-technology {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.our-misssion .text, .our-technology .text {
  width: 30%;
}

.video {
  margin: 70px 0;
  text-align: center;
}



/*------------------ Contact Page ------------------*/

.form-section {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.shop-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

form {
  width: 400px;
}

.shop-section .text {
  background: #f4f3f3;
  padding-top: 100px;
  padding-left: 60px;
}