/*------------------ General ------------------*/

.container {
  max-width: 1220px;
  margin: auto;
}

.head-banner {
  display: flex;
  align-items: flex-end;
  height: 600px;
  background: grey;
}

.head-banner h1 {
  padding: 35px 65px;
}

.btn {
  text-decoration: none;
  border: 1px solid black; 
  padding: 10px 10px;
  color: #000;
}

.btn:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

/*------------------ Header ------------------*/

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 0 20px;
}


/*------------------ Footer ------------------*/

footer {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  background: darkgray; 
}

footer p {
  margin: 0;
  padding-left: 30px;
}

/*------------------ Tech section ------------------*/
.tech-section {
  display:flex;
  justify-content: space-between;
  
}

.tech-section-text {
  max-width: 400px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.tech-section img {
  width: 500px;
}

/*------------------ About Page ------------------*/

.our-misssion {
  margin-top: 70px;
}

.our-misssion, .our-technology {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.our-misssion .text, .our-technology .text {
  width: 30%;
}

.video {
  margin: 70px 0;
  text-align: center;
}


/*------------------ Contact Page ------------------*/

.form-section {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.shop-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

form {
  width: 400px;
}

.shop-section .text {
  background: #f4f3f3;
  padding-top: 100px;
  padding-left: 60px;
}


/* ------------------ Home Page ------------------- */


.news-section-top{
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

.news-container{
max-width: 1260px;
}

.news-section-down{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.news-section-down-wrapper{
  margin-top: -8%;
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.brand-section{
display: flex;
justify-content: space-around;


}



/*------------------ Product Detailed Page ------------------*/

.product-section {
  max-width: 800px;
  margin: auto;
}

.product-main-info {
  display: flex;
  justify-content: flex-start;
  margin: 10% 0 5%;
}

.product-main-info img {
  height: 350px;
  margin-right: 100px;
}

.product-main-info div {
  margin-top: 5%;
}

.product-main-info p {
  font-size: 25px;
}

.product-other-info {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 80px; 
}

.details {
  max-width: 350px;
}

/*------------------ Product List Page ------------------*/
