/*------------------ General ------------------*/

h1 {
  padding: 35px 65px;
}

.container {
  max-width: 1260px;
  margin: auto;
}

.head-banner {
  display: flex;
  align-items: flex-end;
  height: 600px;
  background: grey;
}

.head-banner h1 {
  padding: 35px 65px;
}

/*------------------ Header ------------------*/

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 0 20px;
}


/*------------------ Footer ------------------*/

footer {
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  background: darkgray; 
}

footer p {
  margin: 0;
  padding-left: 30px;
}

/*------------------ About Page ------------------*/


.our-misssion, .our-technology {
  display: flex;
}

.video {
  text-align: center;
}